# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/

# Android
android/.gradle
android/app/build
android/build
*.iml
.idea/

# iOS
ios/Pods
ios/.symlinks
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.xcworkspace
*.xcuserdata

# Temporary
.DS_Store
